# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Virtual env
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# Logs
logs/
*.log

# Local settings / user data
settings.json

# IDE
.vscode/
.idea/
*.swp

# OS
Thumbs.db
.DS_Store
